<!DOCTYPE HTML>
<html lang=es>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="application-name" content="BuscaVista" />
		<meta name="description" content="Buscador del barrio de Bellavista" />
		<meta name="generator" content="Symfony 3" />
		<meta name="keywords" content="buscador, barrio, bellavista, servicios, comercios" />
		<meta name="robots" content="index, follow" />
		<title>
			{% block title %} BuscaVista {% endblock %}
		</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" type="image/x-icon" href="{{ asset("imagenes/favicon.ico") }}" />
		<!-- Google Maps -->
    	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy9MAcuZIVtSKPH-ZWLPDK6swlLu2pSSU"></script>
		<style>
		  body{
		      /*background-color: #557187;*/
		   }
		  .centrar {
            overflow: hidden;
            position: absolute;
            height: 200px;
            width: 300px;
            left: 50%;
            top: 60%;
            margin-top: -100px;
            margin-left: -150px;
          }
	      #gmap_canvas img{
    	    max-width:none !important;
        	background:none!important
		}
    	</style>
	</head>
	<body onload="cargar_funcion()">
		<div class="container">
    		<header><br/>
    	        {% block cabecera %}
  					<div class="text-center"><h1>BuscaVista</h1></div>
  				{% endblock %}
    		</header>
    		<section id="content">
    			{% block content %} {% endblock %}
    		</section>
    		<footer>
    			<div class="row navbar-default navbar-fixed-bottom">
    				<div class="text-center"><br/>
    					<p>BuscaVista, busca en Bellavista</p>
    				</div>
    			</div>
    		</footer>
		</div>
        {% block javascripts %}
            <script src="{{ asset('js/funciones.js') }}" type="text/javascript"></script>
        {% endblock %}
	</body>
</html>